body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 40px;
    background: black;
    color: white;
    text-align: center;
}
nav{
    background-color: white;
    height: 60px;
    width: 100%;
}
nav h2{
    position: absolute;
    left: 60px;
    top: 55px;
    
}
.searchbar{
    background-color: white;
    position: absolute;
    top: 90px;
    left: 700px;
    border: 0;
    outline: 0;
    border-style: none;
}

.searchbar:hover{
  border-bottom: 2px solid black;
}
.cart{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 80px;
    left: 900px;
  
}
.log{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 80px;
    left: 950px;
  
}
.login{
    position: absolute;
    top: 70px;
    left: 1000px;
  
}
.abc{
    width: 1100px;
    height: 700px;
    background-image: url("/logos/baac51_88d59da2f5a844e9850ee580ab0c8b8d_mv2_d_4000_1782_s_2.webp");
    background-repeat: no-repeat;
      background-position: center;
    margin-left: 50px;
    
}
.abc h3{
    color: white;
    font-size: 300%;
    position: absolute;
    left: 450px;
    top: 300px;
}
.abc p{
    color: white;
    position: absolute;
    left: 470px;
    top: 450px;
}
.abc button{
    position: absolute;
    left: 500px;
    top: 500px;
    background: none;
    width: 100px;
}
.abc button:hover{
    background-color: white;
}
.abc button a{
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    
}
.abc button a:hover{
    background-color: white;
    
    color: #000;
}
.limited{
    width: 100%;
    height: 750px;
    background: white;
}
footer{
    width: 100%;
    height: 200px;
    background: rgb(61, 216, 14);
    position: absolute;
}
footer p{
    color: white;
}
.p1{
    margin-left: 200px;
}
.p2{
    margin-left: 200px;

}
.p3{
    margin-left: 200px;

}
.p4{
    margin-left: 200px;

}
.p5{
    margin-left: 200px;
}
.p6{
    position: absolute;
    left: 400px;
    top: 0px;
}
.p7{
    position: absolute;
    left: 400px;
    top: 35px;
}
.p8{
    position: absolute;
    left: 400px;
    top: 65px;
}
.myform{
    position: absolute;
    left: 650px;
    top: 40px;
}
.email{
    color: white;
    
}
.ig{
   width: 30px;
   height: 30px;
}
.fb{
    width: 30px;
    height: 30px;
}
.tw{
    width: 30px;
    height: 30px;
}
footer button{
     position: absolute;
     left: 950px;
     bottom: 140px;
     width: 200px;
     background: white;
}
footer button a{
    color: black; 
    text-decoration: none;
}
.part1{
    display: flex;
    position: absolute;
    left: 100px;

}
.pa1{
    width: 250px;
    height: 250px;
    background-image: url("/capimages/baac51_23d749587fb743859f9bb6b69a24f71e_mv2_d_2000_1500_s_2.webp");
    background-position: center;
    float: left;
    margin-right: 20px;
}

.pa1 button{
    background: white;
    width: 100px;
}

.pa1 button a{
    text-decoration: none;
    color: #000;
}
.pa1 p{
    position: absolute;
    top: 240px;
    left: 50px;
}
.pa2{
    width: 250px;
    height: 250px;
    background-image: url("/capimages/baac51_09cf1d76e0dc44c4a7b5b71ccfd7c597_mv2_d_2000_1500_s_2.webp");
    background-position: center;
    float: left;
    margin-right: 20px;
}
.pa2 button{
    background: white;
    width: 100px;
}
.part2 button a{
    text-decoration: none;
    color: #000;
}
.pa2 p{
    position: absolute;
    top: 240px;
    left: 320px
}
.pa3{
    width: 250px;
    height: 250px;
    background-image: url("/capimages/baac51_6b27b52f603e464aa0cd8790f03c22f0_mv2_d_2000_1500_s_2.webp");
    background-position: center;
    float: left;
    margin-right: 20px;
}
.pa3 button{
    background: white;
    width: 100px;
}
.pa3 button a{
    text-decoration: none;
    color: #000;
}
.pa3 p{
    position: absolute;
    top: 240px;
    left: 600px
}
.pa4{
    width: 250px;
    height: 250px;
    background-image: url("/capimages/baac51_96428f6f85de47268baeffa9258f681f_mv2_d_2000_1500_s_2.webp");
    background-position: center;
}
.pa4 button{
    background: white;
    width: 100px;
}
.pa4 button a{
    text-decoration: none;
    color: #000;
}
.pa4 p{
    position: absolute;
    top: 240px;
    left: 860px
}
.part2{
   display: flex;
   position: absolute;
   top: 1200px;
   left: 98px;
}

.pa5{
    width: 250px;
    height: 250px;
    background-image: url("/capimages/baac51_a6efca7b18ab4901866d336814d292fc_mv2_d_2000_1500_s_2.webp");
    background-position: center;
    float: left;
    margin-right: 20px;
}
.pa5 p{
    position: absolute;
    top: 240px;
    left: 50px;
}
.pa6{
    width: 250px;
    height: 250px;
    background-image: url("/capimages/baac51_ae96d298952242c2bb5cce4abdcab7a9_mv2_d_2000_1500_s_2.webp");
    background-position: center;
    float: left;
    margin-right: 20px;
}
.pa6 p{
    position: absolute;
    top: 240px;
    left: 320px
}
.pa7{
    width: 250px;
    height: 250px;
    background-image: url("/capimages/baac51_b9031651b1e2480b80e11d455923f407_mv2_d_2000_1500_s_2.webp");
    background-position: center;
    float: left;
    margin-right: 20px;
}
.pa7 p{
    position: absolute;
    top: 240px;
    left: 600px
}
.pa8{
    width: 250px;
    height: 250px;
    background-image: url("/capimages/baac51_f4267061a0fe4bb1acee7156275d4206_mv2_d_2000_1500_s_2.webp");
    background-position: center;
}
.pa8 p{
    position: absolute;
    top: 240px;
    left: 860px
}
.shopall{
    position: absolute;
    top: 1400px;
    left: 550px;
    width: 150px;
    background: #000;
    
}
.shopall:hover{
    background-color: white;
}
.shopall a{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.shopall a:hover{
    background: white;
    background-size: 150px;
    color: black;
    
}
.socials{
    position: absolute;
    left: 900px;
    bottom: 40px;
}
